body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/more-leaves.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-page {
  text-align: center;
}

.about-page {
  text-align: center;
}

.triplog {
  text-align: center;
}

.park-card {
  height: 300px;
  background-image: url('./assets/ep_naturalwhite.png');
  border: 2px solid #73AD21 !important;
  border-radius: 15px 50px 30px !important;
  width: 270px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.review-card {
  background-image: url('./assets/papyrus.png');
  border: 2px solid #73AD21 !important;
  border-radius: 15px !important;
  width: 270px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-label {
  font-weight: bold;
}

.search-bar-part {
  border-radius: 25px !important;
  border: 1.5px solid #73AD21 !important;
}  


.triplog-textarea {
  border-radius: 25px !important;
  border: 1.5px solid #73AD21 !important;
}

.about-header {
  background: #ACE1AF;
  padding: 100px;
}


.about-story {
  color: #1B4D3E;
  font-weight: bold;
  text-shadow: #fc0 1px 0 10px;
}